# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
env/

# Flask
instance/
uploads/
cleaned/
flask_session/
logs/
*.db

# PyInstaller
build/
dist/
*.spec

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db